In [2]:
import pandas as pd
import os
from time import time

In [4]:
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz"
csv_name = 'green_tripdata_2019-09.csv.gz'
table_name = 'green_taxi_data'
#download the csv
os.system(f"wget {url} -O {csv_name}")

0

In [6]:
df = pd.read_csv(csv_name,nrows=100)
df

In [8]:
print(pd.io.sql.get_schema(df,name=table_name))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [12]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [13]:
print(pd.io.sql.get_schema(df,name=table_name))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [14]:
from sqlalchemy import create_engine

In [15]:
engine=create_engine('postgresql://root:root@localhost:5435/ny_taxi')

In [17]:
df_iter = pd.read_csv(csv_name, iterator=True, chunksize=100000)

In [18]:
df = next(df_iter)

In [19]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [21]:
df.head(0).to_sql(name=table_name, con=engine, if_exists='replace')

0

In [22]:
%time df.to_sql(name=table_name, con=engine, if_exists='append')

CPU times: total: 6.25 s
Wall time: 12.1 s

1000

In [25]:
while True:
    t_start = time()
    try:        
        df=next(df_iter)
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
        df.to_sql(name=table_name, con=engine, if_exists='append')
        t_end = time()
        print('inserted another chunk, took %.3f second' %(t_end-t_start)) 
    except StopIteration:
        break
print("data load completed")

inserted another chunk, took 13.085 second

C:\Users\Marutha\AppData\Local\Temp\ipykernel_25368\2741469282.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df=next(df_iter)

inserted another chunk, took 12.834 second
inserted another chunk, took 5.299 second
data load completed

In [ ]:
query = f"SELECT count(*) from {table_name};"
pd.read_sql(query,con=engine)