In [26]:
import pandas as pd
import os

In [27]:
url = "https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"
csv_name = 'taxi+_zone_lookup.csv'
table_name = 'taxi_zone_lookup'
#download the csv
os.system(f"wget {url} -O {csv_name}")

0

In [28]:
df = pd.read_csv(csv_name,nrows=100)
df

In [30]:
print(pd.io.sql.get_schema(df,name=table_name))

CREATE TABLE "taxi_zone_lookup" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [31]:
from sqlalchemy import create_engine

In [32]:
engine=create_engine('postgresql://root:root@localhost:5435/ny_taxi')

In [33]:
df_iter = pd.read_csv(csv_name, iterator=True, chunksize=100000)

In [34]:
df = next(df_iter)

In [35]:
df.head(0).to_sql(name=table_name, con=engine, if_exists='replace')

0

In [36]:
%time df.to_sql(name=table_name, con=engine, if_exists='append')

CPU times: total: 0 ns
Wall time: 88.3 ms

265

In [37]:
from time import time

In [38]:
while True:
    t_start = time()
    try:        
        df=next(df_iter)
        df.to_sql(name=table_name, con=engine, if_exists='append')
        t_end = time()
        print('inserted another chunk, took %.3f second' %(t_end-t_start)) 
    except StopIteration:
        break
print("data load completed")

data load completed

In [41]:
query = f"SELECT count(*) from {table_name};"
pd.read_sql(query,con=engine)

   count
0    265